<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email" id="email">
        <br/>
        <label>Contraseña</label>
        <input name="password" type="password" id="password">
        <input type="submit">
    </form>
    <p>¿Aún no está registrado? <a href="/register">Click aquí para registrarte.</a></p>
</div>

<script src="/js/login.js"></script>