<div class="main-container">
    <div class="form-container">
        <p class="title">¿Olvidó su clave?</p>

        <form id="forgotForm" class="form">
            {{!-- <label for="email">Email</label> --}}
            <input type="email" class="input" name="email" placeholder="Ingrese su email" required="true">

            <button type="submit" class="form-btn">Enviar correo</button>
        </form>

        <p class="page-link-label">
            ¿Aún no tienes una cuenta? <a href="/register"><span class="page-link">Regístrate</span></a>
        </p>
    </div>
</div>

<script src="/js/forgotPassword.js"></script>