<div class="main-container">
    <div class="form-container">
        <div class="title">
            Restablezca su contraseña
        </div>
    
        <form id="resetForm" class="form">
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Ingrese contraseña" required="true" class="input">
            </div>
    
            <button type="submit" class="form-btn">Restablecer</button>
        </form>
    </div>
</div>

<script src="/js/resetPassword.js"></script>